style="width:220px;height:180px;object-fit:cover;" sou

.product-card{
  width:220px !important;
  background:#111;
  border:1px solid gold;
  border-radius:15px;
  padding:15px !important;
  margin:15px auto !important;
}

.product-card img{
  width:100% !important;
  height:180px !important;
  object-fit:cover !important;
  border-radius:10px;
  display:block;
}

h3{
  color:gold;
  font-size:22px !important;
  margin:10px 0;
}
